<div class="content">
    <div class="title">
        <h1>{{name}}</h1>
    </div>
    
    <div class="body">

      <div class="main-content">

          <div class="courses-content">
            <table class="ui striped table">
              <thead>
                <tr>
                  <th>Student</th>
                  <th>Course Title</th>
                  <th>Date</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><i style="font-size: 1.7rem; margin-right: 0.5rem;" class="fa fa-user-circle"></i>Mohammed Ismail</td>
                  <td>Computer Vision</td>
                  <td>Des 2019</td>
                  <td>Face Detection..</td>
                </tr>
                <tr>
                  <td><i style="font-size: 1.7rem; margin-right: 0.5rem;" class="fa fa-user-circle"></i>Mohammed Ismail</td>
                  <td>Computer Vision</td>
                  <td>Des 2019</td>
                  <td>Face Detection..</td>
                </tr>
                <tr>
                  <td><i style="font-size: 1.7rem; margin-right: 0.5rem;" class="fa fa-user-circle"></i>Mohammed Ismail</td>
                  <td>Computer Vision</td>
                  <td>Des 2019</td>
                  <td>Face Detection..</td>
                </tr>
                <tr>
                  <td><i style="font-size: 1.7rem; margin-right: 0.5rem;" class="fa fa-user-circle"></i> Mohammed Ismail</td>
                  <td>Computer Vision</td>
                  <td>Des 2019</td>
                  <td>Face Detection..</td>
                </tr>
                <tr>
                  <td><i style="font-size: 1.7rem; margin-right: 0.5rem;" class="fa fa-user-circle"></i>Mohammed Ismail</td>
                  <td>Computer Vision</td>
                  <td>Des 2019</td>
                  <td>Face Detection..</td>
                </tr>
                <tr>
                  <td><i style="font-size: 1.7rem; margin-right: 0.5rem;" class="fa fa-user-circle"></i>Mohammed Ismail</td>
                  <td>Computer Vision</td>
                  <td>Des 2019</td>
                  <td>Face Detection..</td>
                </tr>
                <tr>
                  <td><i style="font-size: 1.7rem; margin-right: 0.5rem;" class="fa fa-user-circle"></i>Mohammed Ismail</td>
                  <td>Computer Vision</td>
                  <td>Des 2019</td>
                  <td>Face Detection..</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="calender">
              <div class="calender-body">
                  <div class='demo-app'>
                      <div class='demo-app-main'>
                        <full-calendar
                          *ngIf='calendarVisible'
                          [options]='calendarOptions'
                        ></full-calendar>
                      </div>
                  </div>
              </div>
          </div>

      </div>

      <div class="suggested--cards-2">
        <img src="../../../assets/img/Component 15 – 1.png" style="max-width: 100%;">
      </div>
      
      <div class="main-content">
        <div class="suggested--cards-3">
          <img src="../../../assets/img/Bar Chart.png" style="max-width: 100%;">
        </div>
        <div class="suggested--cards-3">
          <img src="../../../assets/img//Group 13272.png" style="max-width: 100%;">
        </div>
      </div>

  </div>

</div>