<div class="main-body" *ngIf="isCodeSent">
    <span class="back-arrow">
         <i style="cursor: pointer;" (click)="return()" class="fa fa-long-arrow-left"></i> 
        </span>
    <div class="body--header">
        <h3>Create Account</h3>
        <p>DON'T HAVE ONE<br/>LET'S CREATE IT</p>     
    </div>
    <div class="body--cards">
                <form class="ui form" #forgetpassword="ngForm" (ngSubmit)="onSubmit()">
                    <div class="ui one column grid">
                        <div class="column">
                            <label>Email</label>
                            <input type="text" name="email" placeholder="Email" ngModel>
                        </div>
                    </div>
                
                    <div class="ui one column grid c">
                        <div class="column">
                            <button class="ui secondary button" type="submit">Send Code</button>
                        </div>
                    </div>
                </form>
            </div>

</div>
<div class="main-body" *ngIf="!isCodeSent&&setPassword">
    <span class="back-arrow">
         <i style="cursor: pointer;" (click)="return()" class="fa fa-long-arrow-left"></i> 
        </span>
    <div class="body--header">
        <h3>Create Account</h3>
        <p>WE HAVE SENT YOU THE CODE<br/>TO VERFIY YOUR CODE</p>     
    </div>
    <div class="body--cards">
                <form class="ui form" #forgetpassword="ngForm" (ngSubmit)="onSubmit()">
                    <div class="ui one column grid">
                        <div class="column">
                            <label>Code</label>
                            <input type="text" name="code" placeholder="code" ngModel>
                        </div>
                    </div>
                
                    <div class="ui one column grid c">
                        <div class="column">
                            <button class="ui secondary button" type="submit">Send Code</button>
                        </div>
                    </div>
                </form>
            </div>

</div>

<div class="main-body" *ngIf="!setPassword">
    <span class="back-arrow">
         <i style="cursor: pointer;" (click)="return()" class="fa fa-long-arrow-left"></i>
        </span>
    <div class="body--header">
        <h3>Create Account</h3>
        <p>WE HAVE SENT YOU THE CODE<br/>TO VERFIY YOUR CODE</p>     
    </div>
    <div class="body--cards">
                <form class="ui form" #forgetpassword="ngForm" (ngSubmit)="onSubmit()">
                    <div class="ui one column grid">
                        <div class="column">
                            <label>Password</label>
                            <input type="text" name="password" placeholder="password" ngModel>
                        </div>
                    </div>
                
                    <div class="ui one column grid c">
                        <div class="column">
                            <button class="ui secondary button" type="submit">Send Code</button>
                        </div>
                    </div>
                </form>
            </div>

</div>
