.main-body{
    max-width: 610px;
    border: 1px solid #C1C1C1;
    border-radius: 10px;
    margin: auto;
    margin-top: 70px;
    padding: 50px 30px;
    position: relative;
}
.main-body .back-arrow{
    position: absolute;
    font-size: 30px;
}
.body--header{
    text-align: center;
}
.body--header p{
    color:#717171;
    line-height: 2;
    font-size: 14px;
}
.body--cards{
    margin-top: 50px;
}
.body--footer{
    margin-top: 50px;
    text-align: center;
}
.body--footer p{
    font-size: 15px;
    text-decoration: underline;
}
.secondary{
    height: 35px;
    width: 21rem;
    border-radius: 15spx;
}
.c{
    justify-content: center;
    text-align: center;
}
.body--footer{
    margin-top: 50px;
    text-align: center;
}
.body--footer p{
    font-size: 15px;
}
.body--footer p span{
color: #40B240;
text-decoration: underline;
}
.sign-btn-label{
    margin-top: 10px;
}
.sign-btn-label span{
    padding: 0 8px;
}