<div class="content">
    <div class="title">
        <h1>Welcome {{name}}</h1>
    </div>
    
    <div class="main-content">

        <div class="content-header">
            <h3>Suggested Courses</h3>
        </div>

        <div class="courses-content">
            <div class="upcoming-courses">
                <div class="ui divided items">
                    <div class="item">
                        <div class="middle aligned content date">
                          <h4>Nov, 10</h4>
                          <p>4:00 pm</p>
                        </div>
                      <div class="ui tiny image">
                        <i class="fa fa-user-circle" style="font-size: 50px; display: block;"></i>
                      </div>
                      <div class="middle aligned content">
                        <h6>Computer Graphic</h6>
                          <p>Instructor Name</p>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="upcoming-courses">
                <div class="ui divided items">
                    <div class="item">
                        <div class="middle aligned content date">
                          <h4>Nov, 10</h4>
                          <p>4:00 pm</p>
                        </div>
                      <div class="ui tiny image">
                        <i class="fa fa-user-circle" style="font-size: 50px; display: block;"></i>
                      </div>
                      <div class="middle aligned content">
                        <h6>Computer Graphic</h6>
                          <p>Instructor Name</p>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="upcoming-courses">
                <div class="ui divided items">
                    <div class="item">
                        <div class="middle aligned content date">
                          <h4>Nov, 10</h4>
                          <p>4:00 pm</p>
                        </div>
                      <div class="ui tiny image">
                        <i class="fa fa-user-circle" style="font-size: 50px; display: block;"></i>
                      </div>
                      <div class="middle aligned content">
                        <h6>Computer Graphic</h6>
                          <p>Instructor Name</p>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="upcoming-courses">
                <div class="ui divided items">
                    <div class="item">
                        <div class="middle aligned content date">
                          <h4>Nov, 10</h4>
                          <p>4:00 pm</p>
                        </div>
                      <div class="ui tiny image">
                        <i class="fa fa-user-circle" style="font-size: 50px; display: block;"></i>
                      </div>
                      <div class="middle aligned content">
                        <h6>Computer Graphic</h6>
                          <p>Instructor Name</p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

        <div class="calender">
          
          <div class='demo-app'>
            <div class='demo-app-main'>
              <full-calendar
                *ngIf='calendarVisible'
                [options]='calendarOptions'
              ></full-calendar>
            </div>
          
          </div>
          
        </div>

    </div>

    <div class="suggested-title">
      <div class="ui one column grid">
        <div class="column">
          <h3>Suggested Courses</h3>
        </div>
      </div>
    </div>

    <div class="suggested--cards-2">
      <div class="ui six column grid">

          <div class="column" *ngFor="let c of courses">
              <div class="card-img-container-2" >
                <button class="ui button" (click)="enroll(c.id)">Enroll Now</button>
                  <img [src]="createImg(c.photoPath)" alt="" (click)="viewed(c)">
              </div>
              <div class="underImg">
                  <div class="subCat">{{c.type}}</div>
                  <div class="duration">11 hour</div>
              </div>
              <p class="discreption">{{c.description}}</p>
              <span class="author">{{c.instructor}}</span>
          </div>
         
        </div>

        </div>

          <div class="suggested-title">
            <div class="ui one column grid">
              <div class="column">
                <h3>Last Views Courses</h3>
              </div>
            </div>
          </div>

          <div class="suggested--cards-2">
            <div class="ui six column grid">

                <div class="column" *ngFor="let c of lastViewedCourses">
                    <div class="card-img-container-2">
                      <button class="ui button">Enroll Now</button>
                        <img [src]="createImg(c.photoPath)" alt="">
                    </div>
                    <div class="underImg">
                        <div class="subCat">{{c.type}}</div>
                        <div class="duration">11 hour</div>
                    </div>
                    <p class="discreption">{{c.description}}</p>
                    <span class="author">{{c.instructor}}</span>

                </div>
                
            </div>
        </div>

</div>