.container{
    max-width: 1000px;
    margin: auto;
}
.center{
    text-align: center;
}
/* header */
/* top banner */
.top-banner{
    width: 100%;
    padding: 10px 0px;
    background-color: #C1C1C155;
    font-size: 12px;
}
.left-side span{
margin-right: 20px;
color: #ABABAB;
}
.left-side span:last-child{
    margin-right: 0px;
}
.top-banner--container{
    display: flex;
}
.top-banner .right-side{
    margin-left: auto;
}
.top-banner .right-side span{
    margin-right: 30px;
    color: #2A2A2A;
}
.top-banner .right-side span:last-child{
    margin-right: 0px;
}
.logo-container{
    margin-top: 25px;
}

/* footer */
footer{
    background-color: #C1C1C155;
    text-align: center;
    font-size: 12px;
    padding: 10px 0px;
    /* margin-top: 50px; */
}
.footer-menu{
    padding: 0 200px;
    padding-top: 104px;
    padding-bottom: 105px;
    margin-top: 108px;
    position: relative;
}
.footer-column{
    padding-right: 65px;
}
.footer-column:last-child{
    padding-right: 0;
}
.footer-column p{
    color: #ABABAB;
    text-transform: uppercase;
    font-size: 12px;
}
.footer-column h3{
    font-size: 17px;
    text-transform: uppercase;
}