<header>
    <div class="top-banner">
        <div class="top-banner--container container">
            <div class="left-side">
                <span class="left-side--elements">get on app store</span>
                <span class="left-side--elements">get on play store</span>
            </div>
            <div class="right-side">
                <span class="right-side--elements">About us</span>
                <span class="right-side--elements">Contact us</span>
                <span class="right-side--elements">EN</span>
            </div>
        </div> 
    </div>
    <div class="logo-container container">
        <img src="../../assets/img/teacher.jpg" alt="" style="width: 250px; height: 200px;">
    </div>
  </header>
  <router-outlet></router-outlet>
  <div class="footer-menu">
    <div class="ui four column grid">
        <div class="column footer-column">
            <h3 class="title">logo</h3>
            <p class="spn">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nisl ante,
                 eleifend ut sapien sed, faucibus ornare enim. Morbi luctus pulvinar pellentesque.
            </p>
            
        </div>
        <div class="column footer-column">
            <h3 class="title">get to know us</h3>
            <p class="spn">about us</p>
            <p class="spn">contact us</p>
            <p class="spn">faq</p>
            <p class="spn">reviews</p>
            <p class="spn">privacy and policy</p>
            <p class="spn">in the news</p>
        </div>
        <div class="column footer-column">
            <h3 class="title">learn with us</h3>
            <p class="spn">find a tutor</p>
            <p class="spn">request tutor</p>
            <p class="spn">online tutoring</p>
            <p class="spn">get math help</p>
            <p class="spn">learnin reasources</p>
            <p class="spn">blogs</p>
        </div>
        <div class="column footer-column">
            <h3 class="title">contact</h3>
            <p class="spn">contact us</p>
            <p class="spn">oztazy@gmail.com</p>
        </div>
    </div>
  
  </div>
  <footer>  
    <div class="container">
        <p>Copyright © 2020 OZTAZY . All Right Reserved.</p>
    </div>
  </footer>